<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Web技術入門シリーズ課題</title>
  </head>

  <body>
    <div class="container">
      <h1>DIC入門Term　最後の試練</h1>
      <ul>
        <li>
          <a href="http://localhost:3000/test" target="_blank">
            <p>ゴーヤの館</p>
          </a>
        </li>
        <li>
          <a href="http://localhost:3000/test" target="_blank">
            <p>ゴーヤの間</p>
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
